/**
 * 这个文件是由脚本控制生成, 请不要轻易手工修改
 */

#ifndef E9498B70_0400_48AD_8A87_5709B6EC0CB9
#define E9498B70_0400_48AD_8A87_5709B6EC0CB9

#define VERSION_GIT_SHA1 $GIT_SHA1
#define VERSION_GIT_COMMIT_COUNT $GIT_COMMIT_COUNT
#define VERSION_GIT_STRING \
    $GIT_STRING

#endif
